.headerUser {
  border-bottom: 1px solid #d9e7cb;
  background-color: rgba(255, 254, 254, 0.6);
  backdrop-filter: blur(8px);
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.header {
  margin: 0;
}
.header > li {
  list-style: none;
  display: inline-block;
}

.headerIcon {
  border-radius: 8px;
  width: 32px !important;
  height: 32px !important;
  cursor: pointer;
}

.headerIcon:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.hdd {
  counter-reset: none;
}
.submenu {
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.notification {
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  width: 300px;
}

.searchContainer {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.searchValueContainer {
  background-color: #fff;
  padding: 16px;
}

.value {
  height: 50vh;
}
