.imageAction {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  color: white;
  border-radius: 24px;
}

.btnAction {
  width: 40px;
  height: 40px !important;
  border-radius: 50%;
  justify-content: center;
}

.btnAction:hover {
  animation: animationBtnAction 0.2s ease-in-out;
  cursor: pointer;
  color: black;
  background-color: rgba(211, 211, 211, 0.7);
}

.cantAction {
  width: 40px;
  height: 40px !important;
  justify-content: center;
  color: rgba(211, 211, 211, 0.7);
}

@keyframes animationBtnAction {
  from {
    background-color: transparent;
    color: white;
  }
  to {
    background-color: rgba(211, 211, 211, 0.7);
    color: black;
  }
}
